.menu{
    font-size: 40px;
    margin: 50px 0px 0px 50px;
    border: 2px solid gray;
}

.menu1:hover{
    text-decoration: underline;
}

.menu2:hover{
    text-decoration: underline;
}

.menu3:hover{
    text-decoration: underline;
}

.menu4:hover{
    text-decoration: underline;
}

.menu5:hover{
    text-decoration: underline;
}

.menu6:hover{
    text-decoration: underline;
}

.menu7:hover{
    text-decoration: underline;
}

.menu8:hover{
    text-decoration: underline;
}

.menu9:hover{
    text-decoration: underline;
}

.topic{
    font-size: 30px;
    margin-top: 200px;
    text-align: center;
}
